
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "@fortawesome/fontawesome-free/css/all.css";

// Variables
@import 'variables';

$card-cap-bg: #000;


// @import '~@fortawesome/fontawesome-free/scss/brands.scss';

/**********************************************************
 * Globals
 *********************************************************/

$theme-color: #404370;

.theme-color {
	color: $theme-color !important;
}

/**********************************************************
 * Bootstrap theming
 *********************************************************/

$card-cap-bg: rgba($theme-color, 0.11);

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**********************************************************
 * Others...
 *********************************************************/

.card-panels-container {
	justify-content: flex-start;
	.card {
		width: 12rem;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.card-link {
	color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 992px) {
	.custom-col-container {
		max-width: 992px;
	}
}

// Custom container

.container-custom {
	max-width: 90%;
}

@media (min-width: 992px) {
	.container-custom {
		max-width: 67%;
	}
}

@media (min-width: 768px) {
	.container-custom {
		max-width: 67%;
	}
}

@media (min-width: 576px) {
	.container-custom {
	    max-width: 90%;
	}
}
